<!DOCTYPE html>
<html lang="tr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Anıl Şenocak</title>
		<meta name='description' content='Anıl Şenocak'>
		<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/prism.css">
		<script type="text/javascript" language="javascript" src="/jquery-1.12.4.js"></script>
		<link rel="icon" type="image/png" href="/avatar.png" />
		@!section('header')
	</head>
	<body>
		<div class="preloader"><div class="loader"><span>Yükleniyor</span></div></div>
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col col-12">
						<div class="header-box">
                            <a href="/" style="color:white;">
                                <div class="logo">
                                    <span class="logo__mark">&gt;</span>
                                    <span class="logo__text">$ cd /home/</span>
                                    <span class="logo__cursor"></span>
                                </div>
                            </a>
							<div class="nav-buttons"><i class="menu-button d-hide ion ion-ios-menu"></i></div>
							<nav class="nav-menu">
								<i class="menu-close ion ion-ios-close"></i>
								<ul class="menu-list">
									<li class="menu-item"><a href="/hakkimda" class="menu-link" >Hakkımda</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		@if(user.userId)
			<br><br>
			<nav class="admin_nav">
				<label for="drop" class="toggle">Menu</label>
				<input type="checkbox" id="drop" />
				<ul class="menu">
					<li><a href="/admin">Anasayfa</a></li>
					<li><a href="/admin/yazi">Yazılar</a></li>
					<li><a href="/admin/kategori">Kategoriler</a></li>
					<li><a href="/admin/yorum">Yorumlar</a></li>
					<li><a href="/admin/ayar">Ayarlar</a></li>
					<li><a href="/admin/logout" style="float: right;">Çıkış Yap</a></li>
					<!--
					<li>
						<label for="drop-1" class="toggle">Yazılar</label>
						<a href="#">WordPress</a>
						<input type="checkbox" id="drop-1"/>
						<ul>
							<li><a href="#">Themes and stuff</a></li>
							<li><a href="#">Plugins</a></li>
							<li><a href="#">Tutorials</a></li>
						</ul>
					</li>
					-->
				</ul>
			</nav>
			<style>
				.toggle, [id^=drop] {display: none;}
				.admin_nav {margin:0;padding: 0;background-color: #25444173;}
				.admin_nav:after {content:"";display:table;clear:both;}
				.admin_nav ul {padding:0;margin:0;list-style: none;position: relative;}
				.admin_nav ul li {margin: 0px;display:inline-block;float: left;}
				.admin_nav a {display:block;padding:14px 20px;color:#FFF;font-size:17px;text-decoration:none;}
				.admin_nav ul li ul li:hover { background: #000000; }
				.admin_nav a:hover {background-color: #000000;}
				.admin_nav ul ul {display: none;position: absolute;top: 60px;}
				.admin_nav ul li:hover > ul {display:inherit;}
				.admin_nav ul ul li {width:170px;float:none;display:list-item;position: relative;}
				.admin_nav ul ul ul li {position: relative;top:-60px;left:170px;}
				li > a:after { content:  ' +'; }
				li > a:only-child:after { content: ''; }
				@media all and (max-width : 768px) {
					.admin_nav {margin: 0;}
					.toggle + a, .menu {display: none;}
					.toggle {display: block;background-color: #254441;padding:14px 20px;color:#FFF;font-size:17px;text-decoration:none;border:none;}
					.toggle:hover {background-color: #000000;}
					[id^=drop]:checked + ul {display: block;}
					.admin_nav ul li {display: block;width: 100%;}
					.admin_nav ul ul .toggle,.admin_nav ul ul a {padding: 0 40px;}
					.admin_nav ul ul ul a {padding: 0 80px;}
					.admin_nav a:hover, .admin_nav ul ul ul a {background-color: #000000;}
					.admin_nav ul li ul li .toggle,.admin_nav ul ul a,.admin_nav ul ul ul a{padding:14px 20px;color:#FFF;font-size:17px;}
					.admin_nav ul li ul li .toggle,.admin_nav ul ul a {background-color: #212121;}
					.admin_nav ul ul {float: none;position:static;color: #ffffff;}
					.admin_nav ul ul li:hover > ul,.admin_nav ul li:hover > ul {display: none;}
					.admin_nav ul ul li {display: block;width: 100%;}
					.admin_nav ul ul ul li {position: static;}
				}
				@media all and (max-width : 330px) {
					.admin_nav ul li {display:block;width: 94%;}
				}
			</style>
		@else
			<br><br><br>
		@endif
		<div class="container">
			<div class="row">
				<div class="col col-12 col-t-9">
                    @!section('article')
				</div>
				<div class="col col-14 col-t-3">
					<aside class="sidebar">
						<div aria-role="main" style="text-align: center;">
							<img style="width: 7rem; display: inline-block; border-radius: 100%; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0.3618em; --darkreader-inline-boxshadow:rgba(0, 0, 0, 0.05) 0px 0px 0px 0.3618em;" src="/avatar.png" data-darkreader-inline-boxshadow="">
							<h1 class="Flintstone glitch" data-text="Anıl Şenocak">Anıl Şenocak</h1>
							<p style="text-decoration: none;color: #1ABC9C;transition: .35s;font-size: 15px;" class="Flintstone">Software Engineer</p>
							<ul class="social-profiles list-reset">
								<li class="social-profiles-item"><a href="http://linkedin.com/in/anilsenocak27" class="social-profiles-link" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
								<li class="social-profiles-item"><a href="http://github.com/senocak" class="social-profiles-link" target="_blank"><i class="fab fa-github"></i></a></li>
								<li class="social-profiles-item"><a href="https://stackoverflow.com/users/11922928/anıl-Şenocak" class="social-profiles-link" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
							</ul>
						</div>
						<br>
						<div class="widget widget-newsletter" style="padding: unset !important;">
							<h3 class="widget-title">Kategoriler</h3>
                            @each(k in kategoriler)
                                <button class="newsletter-button" style="width: 45%;margin-top: 10px;"><a href="/kategori/{{k.url}}" title="{{k.baslik}}" style="color:white;">{{k.baslik}}</a></button>
                            @endeach
						</div>
						<!-- stackoverflow -->
						<div style="margin-bottom: 30px;background: rgba(35, 36, 39, 0.95);box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);">
							<div class="stackoverflow-flair" style="line-height: normal; display: flex; align-items: center; color: rgb(85, 85, 85); position: relative;  padding: 15px;">
								<a target="_blank" href="{{stackoverflow.items[0].link}}"><i class="fab fa-stack-overflow" style="fill: rgb(209, 213, 218); color: rgb(255, 255, 255); position: absolute; top: 0px; right: 0px; border: 0px;"></i></a>
								<div style="text-align: center; position: relative; width: 75px; height: 75px; margin-left: 5px;">
									<div class="flair-rainbow-avatar"></div><img style="width: 100%; height: 100%; border-radius: 50%;" src="{{stackoverflow.items[0].profile_image}}">
								</div>
								<div class="info" style="width: 160px; text-align: right; font-size: 14px;">
									<div class="user-profile-bio">&nbsp;<span style="color: white;">{{stackoverflow.items[0].display_name}}</span></div>
									<div class="meta">
										{{stackoverflow.items[0].reputation}} - 
										<span><i class="fa fa-circle" style="color:gold;"></i><span style="color: white;">{{stackoverflow.items[0].badge_counts.gold}}</span>&nbsp;</span>
										<span><i class="fa fa-circle" style="color:#cd7f32;"></i><span style="color: white;">{{stackoverflow.items[0].badge_counts.bronze}}</span>&nbsp;</span>
										<span><i class="fa fa-circle" style="color:gray;"></i><span style="color: white;">{{stackoverflow.items[0].badge_counts.silver}}</span></span>
									</div>
									<div class="location"><i class="fa fa-map"></i><span>&nbsp;<span style="color: white;">{{stackoverflow.items[0].location}}</span></span></div>
									<div class="blog"><a target="_blank" style="color: rgba(255, 255, 255, 0.52);" href="{{stackoverflow.items[0].website_url}}">Website</a></div>
								</div>
							</div>
						</div>
						<!-- github -->
						<div style="margin-bottom: 30px;background: rgba(35, 36, 39, 0.95);box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);">
							<div class="github-flair" style="line-height: normal; display: flex; align-items: center; color: rgb(85, 85, 85); position: relative;  padding: 15px;">
								<a target="_blank" href="{{github.html_url}}"><i class="fab fa-github" style="fill: rgb(209, 213, 218); color: rgb(255, 255, 255); position: absolute; top: 0px; right: 0px; border: 0px;"></i></a>
								<div style="text-align: center; position: relative; width: 75px; height: 75px; margin-left: 5px;">
									<div class="flair-rainbow-avatar"></div><img style="width: 100%; height: 100%; border-radius: 50%;" src="{{github.avatar_url}}">
								</div>
								<div class="info" style="width: 160px; text-align: right; font-size: 14px;">
									<div class="user-profile-bio">&nbsp;<span style="color: white;">{{github.bio}}</span></div>
									<div class="meta">
										<span title="Takipçiler"><i class="fa fa-user"></i><span style="color: white;">{{github.followers}}</span>&nbsp;</span>
										<span title="Takip Edilen"><i class="fa fa-users"></i><span style="color: white;">{{github.following}}</span>&nbsp;</span>
										<span title="Toplam Repositoriler"><i class="fa fa-align-justify"></i><span style="color: white;">{{github.public_repos}}</span></span>
									</div>
									<div class="location"><i class="fa fa-map"></i><span>&nbsp;<span style="color: white;">{{github.location}}</span></span></div>
									<div class="blog"><a id="github_blog" target="_blank" style="color: rgba(255, 255, 255, 0.52);" href="{{github.blog}}">{{github.blog}}</a></div>
								</div>
							</div>
						</div>
						<div class="widget widget-newsletter" style="padding: unset !important;">
                            <img src="/opensource.png">
						</div>
					</aside>
				</div>
			</div>
		</div>		
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col col-12">
						<div class="footer-bottom">
							<div class="copyright">
								<p class="Flintstone">Made with NodeJS &copy; 2019 <a href="https://github.com/senocak" target="_blank">Anıl Şenocak</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="/jquery.waitforimages.min.js"></script>
        <script src="/common.js"></script>
		<script src="/prism.js"></script>
		@!section('footer')
	</body>
</html>